[ { "Text": "editing", "Priority": 0, "Done": false }, { "Text": "search", "Priority": 0, "Done": false }, { "Text": "encrypt/decript data", "Priority": 0, "Done": false }, { "Text": "password access???", "Priority": 1, "Done": false }, { "Text": "????????", "Priority": 3, "Done": false }, { "Text": "learn golang", "Priority": 1, "Done": true } ]